#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.animatedClickTarget {
  outline: 2px solid red !important;
}
.animatedClickTargetBefore::before {
  outline: 2px solid red !important;
}
.animatedClickTargetAfter::after {
  outline: 2px solid red !important;
}